<!DOCTYPE html>
<html>
<head>
    <title>Bodinayakanur</title>
</head>
<body>
    <h1>Local Town</h1>
    <p>
Bodinayakanur is a town in the state of Tamil Nadu, India.[1] Nestled at the base of the Western Ghat Hills, the town is widely known as India's cardamom capital for its pedigree in cultivating that crop.[2]

Despite a population estimated to be no higher than 0.2% of Tamilnadu's total population, Bodinayakanur has been the constituency for 2 of 12 Chief Ministers of the state.    </p>
    <a href="/">Back to Map</a>
</body>
</html>
