<!DOCTYPE html>
<html>
<head>
    <title>Chinnamanur</title>
</head>
<body>
    <h1>Local Town</h1>
    <p>
        Chinnamanur is a town and a municipality in Theni district in the state of Tamil Nadu, India. As of 2011, the town had a population of 42,305. The town is one of the major trade centers in the district and supports basic needs for a population of more than 1,00,000 people in and around the town. Chinnamanur in recent times is known for banana marketing. Processed banana from more than twenty units in Chinnamanur are exported to various countries. Chinnamanur also holds the most jewel shops in the entire Theni district. Chinnamanur is the fourth largest town in the district by population and second largest town in the district by area.
    </p>
    <a href="/">Back to Map</a>
</body>
</html>
